body{
    background-color: rgb(255, 252, 246);
}

.book_covers{
    display:inline-block;
    height: auto;
    width: 10vw;
}

header{
    text-align: center;
    color: darkred;
}

nav{
    display: grid;
    grid-template-columns: 60px 1fr 2fr 2fr;
    grid-template-rows: 3fr 1fr;
    margin-right: 8%;
}

nav img{
    grid-column: 1;
    width: 60px;
    height: auto;
    
}

nav h2{
    grid-column: 2;
    width: 50%;
    height:auto;
    color: darkred;
    text-align: right;
    font-size: 26px;
}

nav a{
    grid-column: 4;
    grid-row: 1;
    float: right;
    text-align: right;
    color: darkred;
    text-decoration: none;
    font-size: 20px;
}

nav p{
    grid-column: 4;
    grid-row: 1;
    float: right;
    text-align: right;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover{
    text-decoration: underline;
    color: darkslategray;
}

.stor{
    display: grid;
    grid-template-columns: 4 fr 1 fr;
    grid-template-rows: 100%;
}

section{
    color: darkred;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

section h3{
    width: 100%
}

section a{
    grid-row: 2;
    grid-column: 1 7;
}

.bokkategorier1{
    grid-column: 1;
    grid-row: 1;
    color: darkred;
}

.bokkategorier2{
    grid-column: 1;
    grid-row: 2;
    color: darkred;
}

aside{
    grid-column: 2;
    grid-row: 1;
    display:block;
    margin-left: 25%;
}

aside p a{
    color:darkred;
    text-decoration: none;
    font-size: 20px;
}

aside p a:hover{
    color: darkslategray;
    text-decoration: underline;
}


.liten{
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
}

footer{
    background-color:rgb(158, 158, 158);
    grid-column: 5;
    height: 20%;
}

.scroll_button{
    width: 7vw;
    height: auto;
}

@media screen and (max-width: 480px) {
    .stor{
        display: block;
    }

    aside p a{
        color:darkred;
        text-decoration: underline;
        font-size: 14px;
    
    }

    aside{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: unset;
    }


    nav p{
        font-size: 12px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .book_covers{
        display:inline-block;
        height: auto;
        width: 31vw;
    }

    .scroll_button{
        display: none;
    }

    aside{
        margin-top: 5%;
    }
}

